.about {
	padding: 90px 0;
}

.about-top {
	text-align: center;
}

.about-wrap {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
}

.about-wrap .blocks {
	text-align: center;
}