.clients {
	padding: 74px 0 80px;
	text-align: center;
}

.clients-wrap p:nth-child(1) {
	position: relative;
	font-size: 30px;
	line-height: 30px;
	letter-spacing: -0.9px;
	text-transform: capitalize;
}

.clients-wrap p:nth-child(1)::after {
	position: absolute;
	content: '';
	width: 50px;
	height: 1px;
	bottom: -27px;
	left: 50%;
	transform: translateX(-50%);
	background-color: #bbbbbb;
}

.clients-wrap p:last-child {
	color: #868686;
	font-size: 13px;
	line-height: 20px;
}

.clients-wrap .clients-gallery {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
	margin: 77px auto 43px;
}

.clients-wrap .clients-gallery .image {
	display: block;
	width: 190px;
	height: 70px;
	background-color: #f6f6f6;
}