.impressed {
	-webkit-background-size: cover;
	background-size: cover;
	background-image: url('../../img/device-bg.jpg');
	margin-top: 100px;
	padding: 146px 0 158px;
}

.impressed-wrap {
	text-align: center;
	color: #fff;
}

.impressed-wrap p:nth-child(1) {
	font-size: 36px;
	line-height: 43px;
	letter-spacing: -0.72px;
	font-weight: 600;
}

.impressed-wrap p:nth-child(2) {
	font-size: 20px;
	line-height: 24px;
	font-weight: 300;
	margin: 5px auto 90px;
}

.impressed-wrap .impressed-links {
	max-width: 360px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
	margin: 0 auto;
}

.impressed-wrap .impressed-links a {
	display: inline-block;
	text-transform: uppercase;
	font-family: 'Varela', sans-serif; 
  width: 170px;
  height: 52px;
  line-height: 54px;
  color: #fff;
  border: 1px solid #f0f0f0; 
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.impressed-wrap .impressed-links a:hover {
	background-color:  #196fc0;
	border: 1px solid #196fc0;
}