.services {
	padding: 80px 0 60px;
}

.services-bottom .subtitle {
	max-width: 450px;
	text-align: center;
}

.services-wrap {
	max-width: 1030px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-around;
	text-align: center;
	margin-bottom: 101px;
}

.services-wrap .blocks .symbol {
	position: relative;
	display: block;
	left: 50%;
	-webkit-transform: translateX(-50%);
	transform: translateX(-50%);
	width: 130px;
	height: 130px;
	background-position: center;
	background-image: url('../../img/rhombus-c.png');
	-webkit-filter: drop-shadow(0 5px #eee);
	filter: drop-shadow(0 5px #eee);
	-webkit-transition: all 0.4s ease;
	transition: all 0.4s ease;
	margin-bottom: 29px;
}

.services-wrap .blocks:hover .symbol {
	background-image: url('../../img/rhombus-c-blue.png');
}

.services-wrap .blocks .symbol i {
	position: absolute;
	top: 35%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	-webkit-transition: all 0.4s ease;
	transition: all 0.4s ease;
	font-size: 20px;
	line-height: 48px;
}

.services-wrap .blocks:hover .symbol i {
	color: #fff;
}

.services-wrap .blocks .symbol p {
	position: absolute;
	top: 60%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	font-family: 'Varela', sans-serif;
	font-size: 28px;
	line-height: 38px;
	-webkit-transition: all 0.4s ease;
	transition: all 0.4s ease;
}

.services-wrap .blocks:hover .symbol p {
	color: #fff;
}

.services-wrap .blocks > p:nth-child(2) {
	font-family: 'Varela', sans-serif;
	text-transform: uppercase;
	font-weight: 600;
	font-size: 12px;
	line-height: 16px;
	-webkit-transition: all 0.4s ease;
	transition: all 0.4s ease;
}

.services-wrap .blocks:hover > p:nth-child(2) {
	color:  #196fc0;
}

@media (max-width: 775px) {
	.services-wrap {
		-webkit-flex-wrap: wrap;
		-moz-flex-wrap: wrap;
		-ms-flex-wrap: wrap;
		-o-flex-wrap: wrap;
		flex-wrap: wrap;
	}
}

@media (max-width: 465px) {
.services	.subtitle::before,
.services .subtitle::after {
	display: none;
	}
}