.team {
	padding: 72px 0 110px;
}

.team .subtitle {
	max-width: 450px;
	text-align: center;
}

.team-wrap {
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: -webkit-box;
	display: flex;
	-o-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-box-pack: justify;
	        justify-content: space-between;
	text-align: center;
	margin-top: 54px;
}

.team-wrap .blocks {
	position: relative;
	width: 270px;
	height: 334px;
	border: 1px solid #dddddd;
}

.team-wrap .blocks .images {
	width: 100%;
	height: 267px;
	box-shadow: inset 0 0 0 3px #cccccc;
	background-repeat: no-repeat;
	background-size: cover;
	background-image: url('../../img/team/m1.jpg');
}

.team-wrap .blocks .image-3 {
	background-image: url('../../img/team/m2.jpg');
}

.team-wrap .blocks .image-2,
.team-wrap .blocks .image-4 {
	background-image: url('../../img/team/m3.jpg');
}

.team-wrap .blocks p:last-child {
	position: absolute;
	text-transform: uppercase;
	bottom: 27px;
	left: 50%;
	-webkit-transform: translateX(-50%);
	        transform: translateX(-50%);
	font-size: 15px;
	font-weight: 600;
	line-height: 19px;
	letter-spacing: -0.45px;
}

.team-wrap .blocks:hover .inner-block {
	display: block;
}

.team-wrap .blocks .inner-block {
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: #196fc0;
	display: none;
	color: #fff;
	z-index: 10;
}

.team-wrap .blocks .inner-block p:nth-child(1) {
	text-transform: uppercase;
	font-size: 15px;
	font-weight: 600;
	line-height: 19px;
	letter-spacing: -0.45px;
	margin: 46px 0 5px;
}

.team-wrap .blocks .inner-block p:nth-child(2) {
	text-transform: uppercase;
	font-family: 'Varela', sans-serif;
	font-size: 13px;
	line-height: 15px;
	letter-spacing: -0.45px;
}

.team-wrap .blocks .inner-block p:nth-child(3) {
	position: relative;
	width: 230px;
	font-size: 13px;
	font-weight: 300;
	line-height: 15px;
	margin: 59px auto 56px;
}

.team-wrap .blocks .inner-block p:nth-child(3)::before {
	position: absolute;
	content: "";
	top: -31px;
	width: 30px;
	height: 1px;
	left: 50%;
	-webkit-transform: translateX(-50%);
	        transform: translateX(-50%);
	background-color: #fff;
	z-index: 10;
}

.team-social {
	width: 160px;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: -webkit-box;
	display: flex;
	-webkit-box-pack: justify;
	        justify-content: space-between;
	margin: 0 auto;
}

.team-social .social-btn {
	position: relative;
	width: 40px;
	height: 40px;
	background-repeat: no-repeat;
	background-image: url('../../img/sr.png');
	background-color: #196fc0;
}


.team-social .social-btn:hover {
	background-image: url('../../img/sr-w.png');
}

.team-social .social-btn i {
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	        transform: translate(-50%, -50%);
	color: #fff;
}

.team-social .social-btn:hover i {
	color: #196fc0;
}

@media (max-width: 1130px) {
	.team-wrap {
		-webkit-box-pack: center;
		        justify-content: center;
	}
	.team-wrap .blocks {
		margin: 20px;
	}
}

@media (max-width: 465px) {
	.team .subtitle::before,
	.team .subtitle::after {
		display: none;
	}
}